<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cars</title>
  <link rel="stylesheet" href="/css/cars.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous" />
</head>

<body>
  <header>
    <nav id="sidebarMenu" class="collapse d-lg-block sidebar collapse bg-white">
      <div class="position-sticky">
        <div class="list-group list-group-flush mx-3 mt-4">
          <a href="dashboard" class="list-group-item list-group-item-action py-2 ripple ">
            <i class="fas fa-tachometer-alt fa-fw me-3"></i><span>Dashboard</span>
          </a>
          <a href="cars" class="list-group-item list-group-item-action py-2 ripple ">
            <i class="fas fa-tachometer-alt fa-fw me-3"></i><span>Cars</span>
          </a>

        </div>
      </div>
    </nav>
    <nav id="main-navbar" class="navbar navbar-expand-lg navbar-light bg-white fixed-top">
      <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-mdb-toggle="collapse" data-mdb-target="#sidebarMenu"
          aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
          <i class="fas fa-bars"></i>
        </button>
        <a class="navbar-brand" href="#">
          <h5>Logo Company</h5>
        </a>
        <ul class="navbar-nav ms-auto d-flex flex-row">
          <form id="searchCarsByNameFormSubmit" class="d-none d-md-flex input-group w-auto my-auto">
            <input id="searchCarsInput" autocomplete="off" type="search" class="form-control rounded"
              placeholder='Search Cars' style="min-width: 225px;" />
            <span class="input-group-text border-0"><i class="fas fa-search"></i></span>
          </form>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle hidden-arrow d-flex align-items-center" href="#"
              id="navbarDropdownMenuLink" role="button" data-mdb-toggle="dropdown" aria-expanded="false">
              <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img (31).webp" class="rounded-circle" height="22"
                alt="Avatar" loading="lazy" />
            </a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuLink">
              <li>
                <a class="dropdown-item" href="#">My profile</a>
              </li>
              <li>
                <a class="dropdown-item" href="#">Settings</a>
              </li>
              <li>
                <a class="dropdown-item" href="#">Logout</a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </nav>
  </header>
  <main style="margin-top: 58px;">
    <div class="container">
      <div class="d-flex mt-5 justify-content-between">
        <h4>List Cars</h4>
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalAddCar">
          Add Cars
        </button>
      </div>
      <div id="cars-lists" class="row">
      </div>
      <div class="modal fade" id="modalAddCar" tabindex="-1" aria-labelledby="modal-add-car" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="modalAddCarLabel">Add Cars</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <form id="onSubmitForm">
                <div class="mb-3">
                  <label for="carName" class="form-label">Name</label>
                  <input type="text" class="form-control" id="carName" aria-describedby="carName">
                </div>
                <div class="mb-3">
                  <label for="rentPrice" class="form-label">Harga</label>
                  <input type="number" class="form-control" id="rentPrice" aria-describedby="rentPrice">
                </div>
                <div class="mb-3 ">
                  <label for="carImage" class="form-label">Car Photo</label>
                  <input type="file" accept="image/*" id="image">
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
              </form>
            </div>

          </div>
        </div>
      </div>


      <!-- Modal -->
      <div class="modal fade" id="deleteCarConfirm" tabindex="-1" aria-labelledby="deletCarLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="deletCarLabel">Delete Car</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              apa anda yakin mau menghapus mobilnya?
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary" id="onConfirmDeleteCar">Save changes</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
    crossorigin="anonymous"></script>
  <script src="/scripts/cars.js"></script>
</body>

</html>